<div class="pages" style="transform: translateX(-75%) translateY(-50%)">
  <a class="filler"></a>
  <a class="close" (click)="slideMenu()"><img src="images/CloseTile.png"></a>
  <a class="home" routerLink="/"><img src="images/HomeTile.png" (click)="slideMenu()"></a>
  <a class="experience" routerLink="/experience" (click)="slideMenu()"><img src="images/ExperienceTile.png"></a>
  <a class="placeholder"><img src="images/HoneycombTile.png"></a>
  <a class="menu" (click)="slideMenu()"><img src="images/MenuTile.png"></a>
</div>
