<div class="beespeech">
    <div class="title">
      <img src="images/Bee_Mad.png" alt="" class="bigbee"><img>
      <p class="kinshi_experience">COME ON!</p>
      <span class="hello">I told you to halt! Oh well, go and trample all over our hard work, I guess. Anyways, this is the experience page. It's pretty barren, but this is essentially where we're going to put this human's information online for everyone to see!
      </span>
      <p class="hello">But yeah, there's nothing else to see here, so, uh, leave please.</p>
    </div>
</div>
