<div class="CV">
  <div class="CV__body">

    <h1 class="body__title">Anton Olson</h1>

    <div class="sections">
      @for(section of sections; track section.id) {
      <h2>{{section.title}}</h2>
        @for(subsection of section.subsections; track subsection.id) {
        <h3>{{subsection.title}}</h3>
        <h4>{{subsection.date}}</h4>
            @for(item of subsection.items; track item.id){
            <li>{{item.info}}</li>
            }
          }
        }
    </div>

  </div>
  <div class="contact">
  </div>
</div>
<div style="">
<pdf-viewer [src]="source" [render-text]="true" [original-size]="false" style="width: 20rem; height: 60rem;"></pdf-viewer>
<div>
