.CV {
  display: flex;
  justify-content: center;

}

.CV__bar {
  background-color: rgb(255, 255, 174);
  height: 95vh;
  max-height: 100%;
  width: 10vw;
}

.CV__body {
  display: flex;
  width: 95%;

}

.body__title {
  font-size: 4rem;
  text-align: center;

}

.contact {
  display: flex;
  justify-content: center;

}

.contact__info {
  display: flex;
  margin: 0rem 0.5rem;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 3.5rem;
}

.contact__info p {
  font-size: 1rem;
}

.contact__info fa-icon {
  font-size: 2rem;
}

.contact__divider {
  width: 0rem;
  background-color: black;
  padding: 0rem 0.125rem;

}


.section {
  margin: 2rem 0rem;

}

.section__title {

}

.subsection {
  padding-bottom: 1rem 0rem;

}

.subsection__title {

}

.subsection__date {

}

.subsection__item {
  padding: 0.5rem 0rem;

}

