.CV {
  display: flex;

}

.CV__body {
  display: flex;
  width: 100%;
  justify-content: center;

}

.CV__bar {
  background-color: rgb(255, 255, 174);
  height: 100%;
  width: var(--space-3xl);
}

.body__sections {
  margin: 0rem var(--space-2xl);
}
.body__title {
  text-align: center;

}

.contact {
  display: flex;
  justify-content: center;

}

.contact__info {
  display: flex;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact__info fa-icon {
  font-size: var(--step-1);
  cursor: pointer;
  margin: 0rem var(--space-m);
}


.section {
  margin: var(--space-3xl) 0rem;

}


.subsection {
  padding-bottom: var(--space-3xs);

}

.subsection__title {

}

.subsection__date {

}

.subsection__item {
  padding: var(--space-xs) 0rem;

}

