<div class="homepage">
  <div class="maintext">
    <p class="maintext__hello">Hello, I'm</p>
    <p class="maintext__name">Anton Olson</p>
    <p class="maintext__welcome">I like making things</p>
  </div>

  <div class="aboutme">
    <h1>About me</h1>
    <p class="aboutme__text">I'm currently a graduate student at the University of Minnesota Duluth! My field of study focuses on the human-computer interaction side of virtual reality, but I also love exploring outside of my comfort zone! In my spare time, I love to study Japanese, graphic design, video production, and use my background in Computer Science and Psychology to craft projects tailored towards my interests.</p>
  </div>
  <img class="beemachine" src="images/Bee.png">
</div>
