<div class="beespeech">
    <div class="title">
      <img src="images/Bee.png" alt="" class="bigbee"><img>
      <p class="kinshi">HEY!!! 止まれ！</p>
      <span class="hello">Hello, I'm the daibeemachine. Yup, that's me. My squad of kobeemachines are building a bunch of stuff for this one human.
        I'd like to sting him for making us work for free, but he gave us a ton of flowers, which was honestly really nice.
        Since I'm afraid of confrontation, I don't wanna make him mad at me, so we're just doing this for free. Oh yeah, please don't
        come in here right now—it's prohibited!
      </span>
    </div>
</div>
