:root {
  font-size:16px;
}

:host {
  --fs-xl: 3rem;
  --fs-600: 1.75rem;
  --fs-500: 1.5rem;
  --fs-400: 1.25rem;
  --card-width: 15rem;
  --card-height: 15rem;
}
@media (min-width: 25rem) {
  :host {
    --card-width: 20rem;
    --card-height: 20rem;
    --fs-xl: 5rem;
    --fs-600: 2.225rem;
    --fs-500: 2rem;
    --fs-400: 1.75rem;
  }
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

.daibee {
  width: 20vh;
  height: 20vh;
  padding: 2rem;
}

.card_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  align-items: center;
  padding: 2rem;
  height: var(--card-width);
  width: var(--card-width);
  overflow: scroll;

}
.card_title {
  font-size: var(--fs-600);
  text-align: center;
}
.card_description {
  font-size:var(--fs-400);
}
