<div class="portfolio">
  <div class="card_grid">
      @for (card of cards; track card.id)
      {
          <div class="card" tabindex="-1">
            <div class="card__bar"></div>
            <div class="card__content">
              <h1 class="card_title"><a href="{{card.link}}" id="main" tabIndex="0">{{card.title}}</a></h1>
              <p class="card_description">{{card.description}}</p>
            </div>
          </div>
      }
      <div class="beemachine__container" tabindex="-1">
        <button (click)="spinBee()" class="beemachine__button"><img src="images/Bee.png" class="beemachine" alt="A smiling cyborg bee"><img/></button>
      </div>
  </div>
</div>
