.CV {
  display: flex;
  justify-content: center;

}

.CV__body {
  display: flex;
  width: 100%;
  max-width: 70.0rem;
    box-shadow: 0rem var(--space-xl) var(--space-xl) rgba(0,0,0,0.4);
}

.CV__bar {
  background-color: rgb(255, 255, 174);
  height: 100%;
  width: var(--space-3xl);
}

.body__sections {
  margin: 0rem var(--space-2xl);
}
.body__title {
  text-align: center;
  font-size: var(--step-3);

}

.contact {
  display: flex;
  justify-content: center;

}

.contact__info {
  display: flex;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact__info fa-icon {
  font-size: var(--step-2);
  margin: 0rem var(--space-l);
  color: inherit;
}

.contact__info a {
color:gray;
}

.contact__info a:focus,
.contact__info a:hover {
  color:black
}

.contact__info--phone {
  cursor: not-allowed;
}


.section {
  margin: var(--space-3xl) 0rem;

}


.subsection {
  padding-bottom: var(--space-3xs);

}

.subsection__item {
  padding: var(--space-s) 0rem;
}

.beemachine {
  width: 80%;
  height: 80%;
}

.beemachine__button {
  height: calc(2*var(--step-4));
  width: calc(2*var(--step-4));
  border: none !important;
  cursor: pointer;
}

.beemachine__container {
  padding: 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  margin: 0rem auto;
  justify-content: center;
  max-width: 77.5rem;
}
