.page__container {
  display: flex;
  flex-direction: column;
  max-width: 77.5rem;
  text-align: center;
  margin: 0rem auto;
  gap: 0rem;
  height: 100%;
  width: auto;
}

h1 {
  font-size: var(--step-3);
  margin: var(--space-xl) 0rem;
}

h2 {
  font-size: var(--step-1);
  margin: var(--space-l) 0rem;
}

p {
  font-size: var(--step-0);
  margin: var(--space-m) 0rem;
}

.beemachine {
  width: 80%;
  height: 80%;
}

.beemachine__button {
  height: calc(2*var(--step-4));
  width: calc(2*var(--step-4));
  border: none !important;
  cursor: pointer;
}

.beemachine__container {
  padding: 0rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  width: auto;
  margin: 0rem auto;
  justify-content: center;
  max-width: 77.5rem;
}
.portfolio {
  display: flex;
  justify-content: center;
}
