<div class="page__container">
  <h1>404</h1>
  <h2>Page does not exist.</h2>
  <p>But at least you found the secret bee page!<p>
</div>
  <div class="beemachine__container" tabindex="-1">
    <button (click)="spinBee()" class="beemachine__button"><img src="images/Bee.png" class="beemachine" alt="A smiling cyborg bee that spins" id="spin"><img/></button>
    <button (click)="flipBee()" class="beemachine__button"><img src="images/Bee.png" class="beemachine" alt="A smiling cyborg bee that spins" id="flip"><img/></button>
    <button (click)="squishBee()" class="beemachine__button"><img src="images/Bee.png" class="beemachine" alt="A smiling cyborg bee that spins" id="squish"><img/></button>
  </div>
