$icon_size: 200px;

.options_menu
{
  display: grid;
  grid-template-rows: $icon_size;
  grid-template-columns: $icon_size $icon_size $icon_size $icon_size;
  outline-style: solid;
  outline-color: rgb(128, 102, 0);
  outline-width: 16px;
  animation: slide-in 0.5s ease-in;
}

.options_menu::before
{
  content:"";
  position: absolute;
  top: -12px;
  bottom: -12px;
  left: -12px;
  right: -12px;
  outline: 16px solid lightcoral;
}

.options_menu img
{
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}
