<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>daibeemachine/大蜂機</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="Bee.ico">
</head>
<body>
  <p class="kinshi">HEY!!! 止まれ！</p>
  <div class="title">
    <img src="images/Bee.png" alt="" class="bigbee"><img>
    <span class="hello">Hello, I'm the daibeemachine. Yup, that's me. My squad of kobeemachines are building a bunch of stuff for this one human.
      I'd like to sting him for making us work for free, but he gave us a ton of flowers, which was honestly really nice.
      Since I'm afraid of confrontation, I don't wanna make him mad at me, so we're just doing this for free. Oh yeah, please don't
      come in here right now—it's prohibited!
    </span>
  </div>

</body>
</html>
