// App Component SCSS Properties!!! :D

// Default Homepage SCSS Properties!!!

.beespeech
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}
.title
  {
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    align-items: center;
    display: flex;
    flex-direction: column;
    float: right;
  }

  .hello
  {
    font-size: 12pt;
    float: right;
  }

  //Kinshi (禁止) means "stop" in Japanese
  .kinshi
  {
    font-size: 20pt;
    color: red;
    text-align: center;
  }

  .bigbee
  {
    height: 60%;
    width: 60%;
  }

// Responsive Design SCSS Properties!!!

@media (max-width: 600px) {
  .title
  {
  }

  .hello
  {
  }

  .kinshi
  {
    color: red;
  }

  .bigbee
  {
  }
}
@media (min-width: 600px) and (max-width:768px) {
  .title
  {
  }

  .hello
  {
    font-size: 16pt;
  }

  .kinshi
  {
    font-size: 30pt;
  }

  .bigbee
  {
    height: 65%;
    width: 65%;
  }
}
@media (min-width: 769px) and (max-width:1279px) {
  .title
  {
  }

  .hello
  {
    font-size: 16pt;
  }

  .kinshi
  {
    font-size: 35pt;
  }

  .bigbee
  {
    height: 60%;
    width: 60%;
  }
}
@media (min-width:1280px) {
  .title
  {
  }

  .hello
  {
    font-size: 16pt;
  }

  .kinshi
  {
    font-size: 45pt;
  }

  .bigbee
  {
    height: 400px;
    width: 400px;
  }
}
